---
title: Projects
description: Some of the projects I have created or contribute to. View more on <a class="underline" href="/github/" rel="noopener" target="_blank">GitHub</a>.
permalink: /projects/
---
<stack>
  <% (site.data.projects + site.data.repositories).each do |project| %>
    <%= render "project", project: project %>
  <% end %>
</stack>
