---
title: Stack
description: Some of my favorite tools and software.<br>I get most apps via <a class="underline" href="/substack/" rel="noopener" target="_blank">SetApp</a>.
permalink: /stack/
---
<stack>
  <% site.data.resources.each do |project| %>
    <%= render "project", project: project %>
  <% end %>
</stack>
