---
layout: page
title: "Tag: :prototype-term-titleize"
prototype:
  term: tags
---

<div class="space-y-8">
{%- render "list/post", posts: paginator.documents -%}
{% render "data_display/pagination", paginator: paginator %}
</div>
