<title><%= page_title %></title>
<% meta_tags_data.each do |data| %>
  <meta <%= helpers.safe(html_attributes(**data)) %>>
<% end %>

<% extra_links_data.each do |data| %>
  <link <%= helpers.safe(html_attributes(**data)) %>>
<% end %>
