<div class="hidden sm:block lg:w-80">
  <div class="flex items-center justify-end">
    <div class="flex">
      <a href="/about"
        class="px-3 py-2 text-sm font-medium leading-5 text-gray-200 transition duration-150 ease-in-out rounded-md hover:text-white focus:outline-none focus:text-white focus:bg-indigo-600">
        About
      </a>
      <a href="/podcasts"
        class="px-3 py-2 text-sm font-medium leading-5 text-gray-200 transition duration-150 ease-in-out rounded-md hover:text-white focus:outline-none focus:text-white focus:bg-indigo-600">
        Podcasts
      </a>
      <a href="/projects"
        class="px-3 py-2 text-sm font-medium leading-5 text-gray-200 transition duration-150 ease-in-out rounded-md hover:text-white focus:outline-none focus:text-white focus:bg-indigo-600">
        Projects
      </a>
      <a href="/posts"
        class="px-3 py-2 text-sm font-medium leading-5 text-gray-200 transition duration-150 ease-in-out rounded-md hover:text-white focus:outline-none focus:text-white focus:bg-indigo-600">
        Blog
      </a>
            <a href="/contact"
        class="px-3 py-2 text-sm font-medium leading-5 text-gray-200 transition duration-150 ease-in-out rounded-md hover:text-white focus:outline-none focus:text-white focus:bg-indigo-600">
        Contact
      </a>
    </div>
  </div>
</div>
