<div class="flex justify-center flex-1 lg:justify-end">
  <div class="w-full px-2 lg:px-6">
    <label class="sr-only" for="search">Search</label>
    <div class="relative text-indigo-300 focus-within:text-gray-400">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20">
          <path clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" fill-rule="evenodd"/>
        </svg>
      </div>
      <input class="block w-full py-2 pl-10 pr-3 leading-5 text-indigo-300 placeholder-indigo-300 transition duration-150 ease-in-out bg-indigo-400 bg-opacity-25 border border-transparent rounded-md focus:outline-none focus:bg-white focus:placeholder-gray-400 focus:text-gray-900 sm:text-sm" id="search" placeholder="Search projects" type="search">
    </div>
  </div>
</div>
