---
name: Pagination
description: Display previous page and/or next page buttons to navigate through paginated pages.
variables:
  paginator:
    - object
    - The Bridgetown Paginator object ([see documentation here](https://www.bridgetownrb.com/docs/content/pagination/))
mocks:
  paginator:
    total_pages: 3
    previous_page: true
    previous_page_path: "#previous"
    next_page: true
    next_page_path: "#next"
---

{% if paginator.total_pages > 1 %}
  <nav class="flex items-center justify-between px-4 border-t border-gray-200 sm:px-0">
  {% if paginator.previous_page %}
    <div class="flex flex-1 w-0">
      <a href="{{ paginator.previous_page_path }}" class="inline-flex items-center pt-4 pr-1 -mt-px text-sm font-medium leading-5 text-gray-500 transition duration-150 ease-in-out border-t-2 border-transparent hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-400">
        <svg class="w-5 h-5 mr-3 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"/>
        </svg>
        Previous
      </a>
    </div>
  {% endif %}
  {% if paginator.next_page %}
    <div class="flex justify-end flex-1 w-0">
      <a href="{{ paginator.next_page_path }}" class="inline-flex items-center pt-4 pl-1 -mt-px text-sm font-medium leading-5 text-gray-500 transition duration-150 ease-in-out border-t-2 border-transparent hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-400">
        Next
        <svg class="w-5 h-5 ml-3 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"/>
        </svg>
      </a>
    </div>
  {% endif %}
  </nav>
{% endif %}
