<div class="hidden md:flex md:flex-shrink-0">
  <div class="flex flex-col w-64">
    <nav class="flex flex-col flex-grow pt-5 pb-4 overflow-y-auto border-r border-gray-200 bg-gray-50">
      <div class="flex flex-col flex-grow mt-5">
        <div class="flex-1 space-y-1">
          {% for component in components %}
          <a href="{{ component.url }}" class="flex items-center px-4 py-2 text-sm font-medium leading-5 text-gray-600 transition duration-150 ease-in-out rounded-md hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50"> {{ component.title }} </a>
          {% endfor %}
        </div>
      </div>
    </nav>
  </div>
</div>
