<div class="px-4 sm:px-6 md:px-0">
  <div class="py-6">
    <div class="mt-10 space-y-6 divide-y divide-gray-200">
      <h3 class="text-lg font-medium leading-6 text-gray-900">
        Variables
      </h3>
      <div>
        {% if component.metadata.variables.size > 0 %}
          {% rendercontent "table/table", container: true %}
            {% with header %}
              <th>Variable</th>
              <th>Type</th>
            {% endwith %}
          {% with rows %}
            {% for variable in component.metadata.variables %}
              {% assign optional = "" %}
                {% unless variable.required %}
                  {% assign optional = ", optional" %}
                {% endunless %}
                <tr>
                  <td>
                    <p>
                      <code>{{ variable.name }}</code>
                    </p>
                  </td>
                  <td>
                    <p>{{ variable.type }}{{ optional }}</p>
                  </td>
                </tr>
              {% endfor %}
            {% endwith %}
          {% endrendercontent %}
        {% else %}
          <p>
            <em>No variables defined.</em>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
