---
layout: default
---

<div class="flex h-full overflow-hidden bg-white">
  {% render "component_preview/sidebar", components: site.components %}
  <div class="flex flex-col flex-1">
    <main class="flex-1 overflow-y-auto focus:outline-none" tabindex="0">
      <div class="relative max-w-4xl mx-auto md:px-8 xl:px-0">
        <div class="pt-10 pb-16">
          {% render "component_preview/metadata", component: page.component %}
          {% render "component_preview/variables", component: page.component %}
        </div>
      </div>
      {% render "component_preview/preview_area", page: page %}
    </main>
  </div>
</div>
