<!doctype html>
<html lang="en">
  {% render "base/head", metadata: site.metadata, title: page.title, root_url: site.url, url: page.url %}
  <body class="font-sans antialiased">
    <div class="flex flex-col min-h-screen mx-auto">
      {% render "base/navbar", metadata: site.metadata, page: page %}

      <main class="flex-1">
        {{ content }}
      </main>
      {%- render "base/footer", metadata: site.metadata -%}
      <script type="module" src="{{ '/_bridgetown/javascript/index.js' | preprend: site.url }}" defer></script>
    </div>
  </body>
</html>
