---
layout: default
---

<div class="px-4 pt-32 pb-8 lg:px-0">
  <div class="flex flex-col max-w-screen-md mx-auto justify-content">
    <div class="flex flex-col space-y-14">
      <div class="flex flex-col space-y-4 md:items-center md:text-center">
        <h1>{{ page.title }}</h1>
        <p class="pb-8 text-2xl">{{ page.subtitle }}</p>
        <div
             class="flex flex-col mb-12 space-y-2 md:space-x-4 md:flex-row md:space-y-0 md:items-center md:justify-center">
          <a href="/about">
            <button class="w-full text-lg btn btn-primary btn-large">More about me</button>
          </a>
          <a href="https://twitter.com/andrewmcodes"
             rel="noopener noreferrer"
             target="_blank">
            <button class="w-full text-lg btn btn-large">Follow me on Twitter</button>
          </a>
        </div>
      </div>
      {% render "prose", content: content %}
      {% render "newsletter" %}
    </div>
  </div>
</div>
