---
title: "Experiments"
description: "Some experiments with features or ideas for this site."
permalink: /experiments/
no_index: true
layout: page
---

<div class="grid grid-flow-col grid-rows-4 gap-4 p-4 ">
  <div class="w-20 h-20 border border-red-300 bg-zinc-900">zinc-900</div>
  <div class="w-20 h-20 border border-red-300 bg-zinc-800">zinc-800</div>
  <div class="w-20 h-20 border border-red-300 bg-zinc-700">zinc-700</div>
  <div class="w-20 h-20 border border-red-300 bg-zinc-500">zinc-500</div>
</div>

<div class="grid grid-flow-col grid-rows-4 gap-4 p-4 bg-zinc-50 ">
  <div class="w-20 h-20 border border-red-300 bg-zinc-50">zinc-50</div>
  <div class="w-20 h-20 border border-red-300 bg-zinc-100">zinc-100</div>
  <div class="w-20 h-20 border border-red-300 bg-zinc-300">zinc-300</div>
  <div class="w-20 h-20 border border-red-300 bg-zinc-500">zinc-500</div>
</div>



   <ul role="list" class="relative z-0 border-b divide-y rounded border-zinc-300 divide-zinc-300 dark:divide-zinc-700 dark:border-zinc-700">
          <li class="relative py-5 pl-4 pr-6 rounded hover:bg-zinc-50 dark:hover:bg-zinc-800 sm:py-6 sm:pl-6 lg:pl-8 xl:pl-6">
            <div class="flex items-center justify-between space-x-4">
              <div class="min-w-0 space-y-3">
                <div class="flex items-center space-x-3">
                  <span class="flex items-center justify-center w-4 h-4 bg-green-100 rounded-full dark:bg-green-700" aria-hidden="true">
                    <span class="w-2 h-2 bg-green-400 rounded-full"></span>
                  </span>
                  <span class="block">
                    <h2 class="text-sm font-medium">
                      <a href="/">
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        Workcation <span class="sr-only">Running</span>
                      </a>
                    </h2>
                  </span>
                </div>
                <a href="#" class="relative group flex items-center space-x-2.5">
                  <svg class="flex-shrink-0 w-5 h-5 text-zinc-400 group-hover:text-zinc-500" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99917 0C4.02996 0 0 4.02545 0 8.99143C0 12.9639 2.57853 16.3336 6.15489 17.5225C6.60518 17.6053 6.76927 17.3277 6.76927 17.0892C6.76927 16.8762 6.76153 16.3104 6.75711 15.5603C4.25372 16.1034 3.72553 14.3548 3.72553 14.3548C3.31612 13.316 2.72605 13.0395 2.72605 13.0395C1.9089 12.482 2.78793 12.4931 2.78793 12.4931C3.69127 12.5565 4.16643 13.4198 4.16643 13.4198C4.96921 14.7936 6.27312 14.3968 6.78584 14.1666C6.86761 13.5859 7.10022 13.1896 7.35713 12.965C5.35873 12.7381 3.25756 11.9665 3.25756 8.52116C3.25756 7.53978 3.6084 6.73667 4.18411 6.10854C4.09129 5.88114 3.78244 4.96654 4.27251 3.72904C4.27251 3.72904 5.02778 3.48728 6.74717 4.65082C7.46487 4.45101 8.23506 4.35165 9.00028 4.34779C9.76494 4.35165 10.5346 4.45101 11.2534 4.65082C12.9717 3.48728 13.7258 3.72904 13.7258 3.72904C14.217 4.96654 13.9082 5.88114 13.8159 6.10854C14.3927 6.73667 14.7408 7.53978 14.7408 8.52116C14.7408 11.9753 12.6363 12.7354 10.6318 12.9578C10.9545 13.2355 11.2423 13.7841 11.2423 14.6231C11.2423 15.8247 11.2313 16.7945 11.2313 17.0892C11.2313 17.3299 11.3937 17.6097 11.8501 17.522C15.4237 16.3303 18 12.9628 18 8.99143C18 4.02545 13.97 0 8.99917 0Z" fill="currentcolor" />
                  </svg>
                  <span class="text-sm font-medium truncate text-zinc-500 group-hover:text-zinc-300">
                    andrewmcodes/andrewm-codes-website
                  </span>
                </a>
              </div>
              <div class="sm:hidden">
                <%= svg "assets/svg/chevron-right.svg" %>
              </div>
              <!-- Repo meta info -->
              <div class="flex-col items-end flex-shrink-0 hidden space-y-3 sm:flex">
                <p class="flex items-center space-x-4">
                  <a href="#" class="relative text-sm font-medium text-zinc-500 hover:text-zinc-300">
                    Visit site
                  </a>
                  <button type="button" class="relative bg-white rounded-full dark:bg-zinc-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500 dark:focus:ring-pink-500">
                    <span class="sr-only">Favorite</span>
                    <%= svg "assets/svg/star.svg", classes: "text-yellow-300 hover:text-yellow-400 w-5 h-5" %>
                  </button>
                </p>
                <p class="text-sm text-zinc-500">
                  Laravel
                </p>
              </div>
            </div>
          </li>
</ul>
