---
title: "Podcasts"
description: "Podcasts"
permalink: "/podcasts/"
no_index: false
---

<h2>Shows</h2>

  <%= render ListComponent.new do |l| %>
    <% site.collections.podcasts.resources.find_all { |e| e.data.status }.each do |podcast| %>
      <%= l.tile(
          url: podcast.data.website_url,
          title: [podcast.data.title, podcast.data.status].join(" - "),
          description: podcast.data.description.to_s,
          image: podcast.data&.image_url,
          clamp: false
        ) %>
    <% end %>
  <% end %>

<h2>Guest Episodes</h2>

  <%= render ListComponent.new do |l| %>
    <% site.collections.podcast_episodes.resources.find_all { |e| e.data.role == "guest" }.each do |episode| %>
      <%= l.tile(
          url: episode.data.website_url,
          title: episode.data.title,
          description: episode.data.description.to_s,
          image: episode.relations.podcast&.data&.image_url,
          clamp: false
        ) %>
    <% end %>
  <% end %>

<h2>More Speaking</h2>

<p>You can find more information about my <a href="/speaking/">public speaking over here.</a></p>
