---
title: All Posts
description: "A collection of tutorials, snippets, thoughts, and other things I've written."
---

<div class="md:border-l md:border-radix-slate6 md:pl-6">
  <%= render Stack.new(y: :xl, class_name: "max-w-3xl") do %>
    <% collections.posts.resources.each do |post| %>
      <%= render Article.new(resource: post) %>
    <% end %>
  <% end %>
</div>
