---
layout: page
title: "Category: :prototype-term-titleize"
prototype:
  term: category
---

<div class="space-y-8">
{%- render "_v3/list/post", posts: paginator.documents -%}
{% render "data_display/pagination", paginator: paginator %}
</div>
