---
name: Backlink
variables:
  backlink:
    - object
---
<a href="{{ backlink.url }}" class="link-item">
  {% svg images/icon/arrow_down_left.svg class="w-4 h-4" %}
  <span>{{backlink.name}}</span>
</a>
