---
name: Page Title
description: Used in collection component and home layout
variables:
---

<div class="container flex flex-col items-start justify-between px-6 pb-4 mx-auto my-6 border-b border-gray-300 lg:my-12" >
  <div class="prose lg:prose-xl">
    <h1>
      <span class="block pb-4">
        {{ page.emoji }}
      </span>
      {{ page.title }}
    </h1>
  </div>

  <ul class="flex flex-col items-start mt-3 text-sm md:flex-row md:items-center">
    {%- for backlink in page.backlinks -%}
    <a href="{{ backlink.url }}" class="flex items-center mt-3 mr-3 md:mt-0">
      {% svg images/icon/arrow_down_left.svg class="w-4 h-4" %}
      <span>{{backlink.name}}</span>
    </a>
    {%- endfor -%}
  </ul>
</div>
