---
name: Page
description: a page component
variables:
  title: string
  subtitle?: object
  content: markdown
---

<div class="flex flex-col space-y-4 md:items-center md:text-center">
  <h1>{{title}}</h1>
  {%- if subtitle -%}
    <p class="text-2xl">{{subtitle}}</p>
  {%- endif -%}
</div>
<div class="px-4 py-32 lg:px-0">{{content}}</div>
<div class="flex flex-col max-w-screen-sm mx-auto justify-content">

  <div class="h-px bg-gray-200 dark:bg-gray-800 timeline-stroke"/>
  <div class="grid grid-cols-1 gap-4 p-6 py-24 bg-gray-100 sm:grid-cols-3 dark:bg-gray-900 sm:bg-gray-50 sm:dark:bg-gray-1000">
    <div class="flex flex-col space-y-4">
      <Link as="/" href="/" passhref>
        <a class="black-link">Home</a>
      </Link>

      <Link as="/about" href="/about" passhref>
        <a class="black-link">About</a>
      </Link>

      <a class="black-link" href="https://twitter.com/brian_lovin" rel="noopener noreferrer" target="_blank">
        @brian_lovin
      </a>
    </div>

    <div class="flex flex-col space-y-4">
      <Link as="/overthought" href="/overthought" passhref>
        <a class="black-link">Writing</a>
      </Link>
      <Link as="/design-details" href="/design-details" passhref>
        <a class="black-link">App Dissection</a>
      </Link>
      <Link as="/ama" href="/ama" passhref>
        <a class="black-link">AMA</a>
      </Link>
    </div>

    <div class="flex flex-col space-y-4">
      <Link as="/bookmarks" href="/bookmarks" passhref>
        <a class="black-link">Bookmarks</a>
      </Link>

      <Link as="/hn" href="/hn" passhref>
        <a class="black-link">Hacker News</a>
      </Link>

      <Link as="/security" href="/security" passhref>
        <a class="black-link">Security Checklist</a>
      </Link>
    </div>
  </div>
</div>
