---
name: Tag
variables:
  tag:
    - string
---
<a href="/tags/{{tag}}" class="flex items-center justify-center w-20 h-6 bg-blue-500 rounded-full">
  <span class="text-xs font-normal text-white">{{ tag | titleize | prepend: "#" }}</span>
</a>
