@supports (font-variation-settings: normal) {
  @font-face {
    font-display: swap;
    font-family: "Inter var";
    font-stretch: 25% 151%;
    font-weight: 100 1000;
    src: local("Inter var"), url("/fonts/Inter.var.woff2") format("woff2 supports variations"),
      url("/fonts/Inter.var.woff2") format("woff2-variations");
  }
}

@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: normal;
  src: local("JetBrains Mono"), local("JetBrainsMono-Regular"),
    url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply text-base bg-gray-50 dark:bg-gray-1000 text-gray-1000 dark:text-gray-100;
  }

  footer a {
    @apply text-blue-500;
  }

  h6 {
    @apply text-base font-bold;
  }

  h5 {
    @apply text-lg font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-3xl font-extrabold;
  }

  h1 {
    @apply text-4xl font-extrabold;
  }

  stack {
    @apply flex flex-col mt-16 space-y-2 divide-y divide-gray-500 dark:divide-gray-700;
  }

  /* Card */
  card,
  .card {
    @apply flex;
  }

  card-media,
  .card-media {
    @apply flex py-2 md:py-4 group;
  }

  card-img,
  .card-img {
    @apply self-center flex-shrink-0 mr-4;
  }

  card-body,
  .card-body {
    @apply block;
  }

  card-title,
  .card-title {
    @apply block text-lg font-bold dark:text-gray-50;
  }

  card-content,
  .card-content {
    @apply block mt-1 font-normal dark:text-gray-300;
  }

  card-footer,
  .card-footer {
    @apply flex mt-2;
  }

  card-svg,
  .card-svg {
    @apply flex items-center justify-center w-16 h-16 rounded-xl;
  }

  /* Description List */
  dl {
    @apply divide-y divide-gray-200 dark:divide-gray-700 dark:text-gray-300;
  }

  d {
    @apply block py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4;
  }

  dt {
    @apply text-sm font-medium;
  }
  dd {
    @apply mt-1 text-sm sm:mt-0 sm:col-span-2;
  }

  .btn {
    @apply flex items-center justify-center px-4 py-2 space-x-2 text-sm font-medium transition-shadow bg-white border rounded shadow-sm hover:border-gray-300 dark:border-gray-800 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:border-gray-600 focus:outline-none text-gray-1000;
    &-primary {
      @apply text-white bg-blue-500 border-none hover:bg-blue-600 dark:hover:bg-blue-400;
    }
    &-outline {
      @apply text-gray-900 bg-opacity-0 border-gray-900 shadow-none dark:border-gray-50 dark:text-gray-50 hover:bg-opacity-20 hover:shadow-none;
    }
    &-large {
      @apply px-6 py-3 font-semibold rounded-md;
    }
  }
  share-widget {
    @apply fixed bottom-5 right-5 opacity-90;

    div {
      background-image: url("/icons/share.svg");
      @apply w-8 h-8 bg-center bg-no-repeat;
    }
    button {
      @apply m-0;
      &:active {
        @apply transform scale-75;
      }
    }
  }
}

/* Your own custom utilities */
@layer utilities {
  .turbo-progress-bar {
    @apply absolute top-0 z-50 h-1 bg-blue-500;
  }

  .prose {
    blockquote {
      @apply py-0.5 border-l-2 border-blue-500 bg-gray-200 dark:bg-gray-900 text-gray-1000 dark:text-gray-100 not-italic;
    }

    a {
      @apply dark:text-blue-500 dark:no-underline;
      code {
        @apply dark:text-blue-500 dark:no-underline;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    table,
    strong,
    b {
      @apply text-gray-1000 dark:text-gray-100;
    }

    pre {
      @apply text-gray-200 px-1 py-0.5 border border-gray-700 rounded-md bg-gray-900;
    }

    p {
      @apply break-words text-gray-1000 dark:text-gray-100;
    }

    p + p {
      @apply mt-0;
    }

    code {
      @apply text-gray-200 px-2 py-0.5 border border-gray-700 rounded-md bg-gray-900 font-normal;

      &::before {
        content: "";
      }
      ,
      &::after {
        content: "";
      }
    }
  }
}
