---
name: Link
description: A link
variables:
  href:
    - string
    - URL for the link href.
  color:
    - string
    - Sets the color scheme
---

{% assign link_class_names = "hover:text-white focus:outline-none focus:text-white focus:bg-indigo-600 text-indigo-200" %}
{% if color %}{% assign link_class_names = color %}{% endif %}

<a rel="me" href="{{ href }}" class="{{ link_class_names }} px-3 py-2 text-sm font-medium leading-5 transition duration-150 ease-in-out rounded-md">
  {{ content }}
</a>
