---
name: Footer
description: The <footer /> of the site.
---

<footer class="flex-shrink-0 text-gray-300 bg-gray-800">
  <div class="max-w-screen-xl px-4 py-6 mx-auto sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
    <div class="flex justify-center space-x-6 md:order-2">
      {% rendercontent "layout/link", href: "https://twitter.com/andrewmcodes" %}
        <span class="sr-only">Twitter</span>
        {% svg images/twitter.svg width=24 class="w-6 h-6" %}
      {% endrendercontent %}
      {% rendercontent "layout/link", href: "https://github.com/andrewmcodes" %}
        <span class="sr-only">GitHub</span>
        {% svg images/github.svg width=24 class="w-6 h-6" %}
      {% endrendercontent %}
    </div>
    <div class="mt-8 md:mt-0 md:order-1">
      <p class="text-base leading-6 text-center">
        &copy; 2020 Andrew Mason. All rights reserved.
      </p>
    </div>
  </div>
</footer>
