---
name: Navbar
description: The main site navigation bar.
---
<div class="relative bg-blue-600">
  <div class="px-3 py-3 mx-auto sm:px-6 lg:px-8">
    <div class="px-4 text-center sm:px-16">
      <p class="font-medium text-white">
        <span>
          🚧 Site Under Construction.
        </span>
        <span class="inline-block">
          <a href="https://github.com/andrewmcodes/andrewm-codes-website/issues" target="_blank" rel="noreferrer noopener" class="font-bold text-white underline"> Report issue <span aria-hidden="true">&rarr;</span></a>
        </span>
      </p>
    </div>
  </div>
</div>
<nav class="flex-shrink-0 bg-gray-800">
  <div class="px-2 mx-auto max-w-7xl sm:px-4 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex items-center px-2 lg:px-0 xl:w-64">
        <a class="flex-shrink-0" aria-label="Home" href="/">
          {% svg images/full_logo_dark.svg width=32 class="w-32 h-8" %}
        </a>
      </div>
      {% render "navbar/links" %}
    </div>
  </div>
</nav>
