<div id="revue-embed" class="">
  <form
    action="https://newsletter.andrewm.codes/add_subscriber"
    method="post"
    id="revue-form"
    name="revue-form"
    target="_blank"
  >
    <div class="grid grid-cols-1 gap-2 mt-2 mb-4 md:grid-cols-3">
      <div class="md:col-span-2">
       <label class="sr-only" for="member_email">Email address</label>
       <input
         class="revue-form-field"
         placeholder="Your email address..."
         type="email"
         name="member[email]"
         id="member_email"
         class="block w-full px-4 py-3 rounded-md shadow-sm"
        >
      </div>
      <input
        type="submit"
        value="Subscribe"
        name="member[subscribe]"
        id="member_submit"
        class="flex items-center justify-center flex-none px-4 py-2 leading-none transition-all border rounded-md shadow-xs cursor-pointer hover:border-transparent bg-skin-primary hover:bg-skin-primary-light border-skin-primary text-skin-inverted hover:shadow-sm"
      />
    </div>
    <%= render ContentBlock.new(classes: "text-xs") do %>
      By subscribing, you agree with Revue's <a target="_blank" href="https://www.getrevue.co/terms">Terms of Service</a> and <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.
    <% end %>
  </form>
</div>
