<div id="revue-embed" class="">
  <form
    action="https://newsletter.andrewm.codes/add_subscriber"
    method="post"
    id="revue-form"
    name="revue-form"
    target="_blank"
  >
    <div class="grid grid-cols-1 gap-2 mt-2 mb-4 md:grid-cols-3">
      <div class="md:col-span-2">
       <label class="sr-only" for="member_email">Email address</label>
       <input
         class="revue-form-field"
         placeholder="Your email address..."
         type="email"
         name="member[email]"
         id="member_email"
         class="block w-full px-4 py-3 rounded-md shadow-sm border-skin-divider placeholder-skin focus:ring-skin-default focus:border-skin-default"
        >
      </div>
      <input
        type="submit"
        value="Subscribe"
        name="member[subscribe]"
        id="member_submit"
        class="flex items-center justify-center flex-none px-4 py-2 text-sm font-semibold leading-none transition-all border rounded-md shadow-xs cursor-pointer border-skin-default bg-skin-primary text-skin-inverted hover:text-skin-inverted dark:border-opacity-50 hover:shadow-sm"
      />
    </div>
    <%= render Markdown.new do %>
      <i>Unsubscribe at any time. Powered by
      <a target="_blank" rel="noopener" href="https://newsletter.andrewm.codes">Revue</a></i>
    <% end %>
  </form>
</div>
