<div class="px-4 py-12 mx-auto space-y-4 max-w-7xl sm:px-6 lg:py-16 lg:px-8">
  <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">
    Want to receive news and updates?
  </h2>
  <div class="flex">
  <a class="btn btn-large btn-primary" href="https://andrewmcodes.substack.com" rel="noopener" target="_blank">Subscribe on Substack</a>
  </div>
</div>
