<div id="revue-embed" class="">
  <form
    action="https://newsletter.andrewm.codes/add_subscriber"
    method="post"
    id="revue-form"
    name="revue-form"
    target="_blank"
  >
    <div class="grid grid-cols-1 gap-2 mt-2 mb-4 md:grid-cols-3">
      <div class="md:col-span-2">
       <label class="sr-only" for="member_email">Email address</label>
       <input
         class="revue-form-field"
         placeholder="Your email address..."
         type="email"
         name="member[email]"
         id="member_email"
         class="block w-full px-4 py-3 rounded-md shadow-sm dark:bg-zinc-900 dark:focus:ring-pink-500 dark:focus:border-pink-500 focus:ring-sky-500 focus:border-sky-500"
        >
      </div>
      <input
        type="submit"
        value="Subscribe"
        name="member[subscribe]"
        id="member_submit"
        class="flex items-center justify-center flex-none px-4 py-2 font-semibold leading-none transition-all border rounded-md shadow-xs cursor-pointer hover:border-transparent bg-sky-500 hover:bg-sky-400 border-sky-500 text-sky-50 hover:text-sky-100 dark:bg-pink-600 dark:hover:bg-pink-700 dark:border-pink-600 dark:text-pink-100 dark:hover:text-pink-50 hover:shadow-sm"
      />
    </div>
    <%= render ContentBlock.new(classes: "text-xs") do %>
      By subscribing, you agree with Revue's <a target="_blank" href="https://www.getrevue.co/terms">Terms of Service</a> and <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.
    <% end %>
  </form>
</div>
