<div class="flex flex-wrap content-center w-full mt-8 mb-16">
  <div class="mx-auto aspect-w-12 aspect-h-6">
    <iframe loading="lazy"
            frameborder="0"
            height="200"
            width="480"
            scrolling="no"
            src="https://andrewmcodes.substack.com/embed">
    </iframe>
  </div>
</div>
