<div class="flex w-full mt-4 mb-8">
  <div class="mx-auto aspect-w-4 aspect-h-3">
    <iframe data-turbo="false" src="https://andrewmcodes.substack.com/embed" class="w-full p-4 border border-blue-500 rounded" height="320" frameborder="0" scrolling="no" loading="lazy"></iframe>
    </iframe>
  </div>
</div>
