<div class="flex w-full mt-4 mb-8">
  <div class="mx-auto aspect-w-4 aspect-h-1">
    <iframe title="substack" data-turbo="false" src="/substack" class="w-full h-64 p-4 border border-blue-500 rounded" height="320" frameborder="0" scrolling="no" loading="lazy"></iframe>
    </iframe>
  </div>
</div>
