<button
  x-data="{
            toggleDarkMode: () => {
              if (localStorage.theme === 'dark') {
                  localStorage.theme = 'light';
                  document.documentElement.classList.remove('dark');
              } else {
                  localStorage.theme = 'dark';
                  document.documentElement.classList.add('dark');
              }
            },
          }"
  @click="toggleDarkMode"
  aria-label="Toggle Darkmode"
  type="button"
  class="inline-flex items-center justify-center p-2 rounded-md text-zinc-700 dark:text-zinc-300 hover:bg-zinc-300 hover:text-zinc-800 dark:hover:bg-zinc-700 dark:hover:text-zinc-300 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-zinc-50 dark:focus:ring-zinc-900"
>
  <span class="sr-only">Toggle theme</span>
  <%= svg "/assets/theme.svg", class: "w-5 h-5", width: 20, height: 20 %>
</button>
