
<% site.data.jobs.each do |hist| %>
  <a target="_blank" rel="noopener noreferrer" href="<%= hist.url %>" class="flex items-center space-x-4 font-normal group">
    <strong class="flex-none font-medium text-zinc-800 group-hover:text-sky-500 group-hover:underline dark:text-zinc-50 dark:group-hover:text-pink-500"><%= hist.company_name %></strong>
    <span class="w-full border-t border-dashed border-zinc-300 shrink dark:border-zinc-700"></span>
    <span class="flex-none font-text-zinc-700 dark:text-zinc-300"><%= hist.title %></span>
    <span class="flex-none font-mono text-zinc-500"><%= hist.timeline %></span>
  </a>
<% end %>
