<div class="mb-9">
  <div
    class="
      font-mono text-[11.5px] text-sage-10 tracking-[0.08em] uppercase mt-7 mb-1.5
    "
  ><%= @title %></div>
  <div class="flex flex-col">
    <%= content %>
  </div>
</div>
