<div class="not-prose">
  <div class="flex flex-nowrap items-center text-sm">
    <span class="py-1 px-2 rounded-l-md text-slate-12 bg-slate-3">$&nbsp;</span>

    <code class="py-1 px-2 font-mono bg-slate-3 rounded-r-md">
      <%= content %>
    </code>
  </div>
</div>
