<div class="not-prose">
  <div class="flex flex-nowrap items-center text-sm">
    <span class="<%= prompt_classes %>">$&nbsp;</span>
    <code class="<%= code_classes %>"><%= content %></code>
  </div>
</div>
