---
name: data list
description: description
variables:
  title: string
  subtitle?: string
  content: markdown
  prose: boolean
---

<article class="flex flex-col space-y-4">
  <h3>{{ title }}</h3>
  {%- for item in collection -%}
    {% render "list/link", name: item.name, description: item.description, url: item.url %}
  {%- endfor -%}
</article>
