---
name: Data
description: A list component
variables:
  content: markdown
---

<a class="flex flex-row justify-between pt-4" href="{{ link }}">
  <dt class="text-lg font-medium leading-6 text-gray-900">
    {{ title }}
  </dt>
  <dd class="text-base text-gray-500">
    {%- if link -%}
      {% svg images/github.svg width=24 class="w-6 h-6" %}
    {%- endif -%}
  </dd>
</a>
