---
name: Emoji
description: An accessible emoji
variables:
  name:
    - string
    - The name of the emoji.
  html_code:
    - string
    - The html code for the emoji
---

<span role="img" aria-label="{{ name }}">{{ html_code }}</span>
