<figure class="not-prose space-y-1">
  <div class="<%= aspect %>">
    <%= slotted :image %>
  </div>

  <% if slotted?(:caption) %>
    <figcaption class="text-center text-sm text-slate-11">
      <%= slotted :caption %>
    </figcaption>
  <% end %>
</figure>
