<figure class="not-prose space-y-1">
  <div class="<%= aspect %>">
    <%= slotted :image %>
  </div>
  <% if slotted?(:caption) %>
    <%= render Text.new(as: :figcaption, size: :md, scheme: :muted, class: "text-center") do %><%= slotted :caption %><% end %>
  <% end %>
</figure>
