<li class="py-4">
  <div class="relative focus-within:ring-2 focus-within:ring-neutral-500">
    <h3 class="font-semibold tracking-wide break-words text-skin">
      <a href="<%= url %>" class="hover:underline focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <%= title %>
      </a>
    </h3>
    <% if description %>
      <p class="mt-1 text-sm text-skin-muted line-clamp-2">
        <%= description %>
      </p>
    <% end %>
  </div>
</li>
