---
name: Newsletter
description: Displays a card a link styled as a button
---
<div class="bg-blue-200 aspect-w-12 aspect-h-6">
  <iframe loading="lazy" frameborder="0" height="200" scrolling="no" src="https://andrewmcodes.substack.com/embed" width="480"></iframe>
</div>
