---
name: Newsletter
description: Displays a card a link styled as a button
---

<section class="relative py-16 mt-8 overflow-hidden bg-blue-600">
  <div class="container relative z-10 px-4 mx-auto sm:px-6 lg:px-8">
    <div class="flex flex-wrap items-center justify-center -mx-3">
      <div class="w-full px-3 mb-8 text-center lg:w-1/2 lg:text-left">
        <h2 class="mb-4 text-3xl font-bold text-white lg:text-4xl font-heading">
          <span class="text-blue-100">my newsletter</span>
          <span>is how I share what I'm working on &amp; learning</span>
        </h2>
        <p class="text-white">
          This is where I answer submitted questions, write micro posts, share cool tools, and more! Ultimately, it's
          how I connect and network with you! No spam ever - promise.
        </p>
      </div>
      <div class="w-full px-3 lg:w-1/2">
        <form
          data-sv-form="1483423"
          action="https://app.convertkit.com/forms/1483423/subscriptions"
          target="_self"
          method="POST"
          class="flex flex-wrap max-w-lg mx-auto"
        >
          <div
            class="flex w-full px-3 mb-3 bg-blue-600 border border-blue-500 rounded md:w-2/3 md:mb-0 md:ml-auto md:mr-6"
          >
            <input
              class="w-full py-4 pl-3 text-xs font-semibold leading-none text-white placeholder-white bg-blue-600 outline-none"
              name="email_address"
              aria-label="Email address"
              type="email"
              required
              placeholder="Type your e-mail"
            />
          </div>

          <button
            class="w-full px-8 py-4 text-xs font-semibold leading-none text-blue-800 transition duration-300 ease-in-out bg-white border rounded md:w-auto hover:text-white hover:border-blue-500 hover:bg-blue-600"
            type="submit"
          >
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
  <img
    class="absolute top-0 left-0 hidden pb-16 -mt-48 lg:block h-192"
    src="/images/square-rotated.svg"
    alt="background pattern for newsletter"
  />
</section>
