---
name: page
description: description
variables:
  title: string
  subtitle?: string
  content: markdown
  prose: boolean
---

<div class="px-4 pt-32 pb-8 lg:px-0">
  <div class="flex flex-col max-w-screen-md mx-auto justify-content">
    <div class="flex flex-col space-y-14">
      <div class="flex flex-col space-y-4 md:items-center md:text-center">
        {%- if wip -%}
          <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-yellow-100 text-yellow-800">WIP</span>
        {%- endif -%}
        <h1>{{ title }}</h1>
        {%- if subtitle -%}
        <p class="text-2xl">{{ subtitle }}</p>
      {%- endif -%}
      </div>
      {%- if prose -%}
        {% render "prose", content: content %}
      {%- else -%}
        {{ content }}
      {%- endif -%}
    </div>
  </div>
</div>
