<div class="flex flex-wrap items-baseline gap-x-3 gap-y-1 mb-5">
  <%= render Text.new(as: :span, variant: :eyebrow, class: "mr-2") do %><%= @label %><% end %>
  <% @tags.each do |tag| %>
    <%= render Link.new(href: "#{@href_prefix}#{tag}/", variant: :tag) do %>#<%= tag %><% end %>
  <% end %>
</div>
